/* General Styles */
body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fdf5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #f5b7b1; /* light pink */
  padding: 20px;
  text-align: center;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  cursor: pointer;
}

header p {
  font-size: 1.1rem;
  margin-top: 5px;
}

/* Navigation */
nav {
  margin-top: 20px;
}

.nav-link {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  background-color: lightpink;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #ff8da1;
}

/* Active Tab Color */
#about-tab.active,
#resume-tab.active,
#portfolio-tab.active,
#contact-tab.active {
  background-color: lavender;
}

/* Main Section */
main {
  padding: 30px;
}

main h2 {
  color: #f5b7b1;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

main section {
  display: none;
}

main section.active {
  display: block;
}

/* Footer */
footer {
  background-color: #f5b7b1;
  text-align: center;
  padding: 15px;
}

footer p {
  color: #333;
  font-weight: 600;
  font-size: 1rem;
}
