body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2C3E50; /* Steely grey background */
  color: #333;
}

header {
  background: linear-gradient(135deg, #E985A2, #f7b1c3);
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

header nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header nav ul li a:hover {
  background-color: #d96b8c;
}

section {
  display: none;
  padding: 50px 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

section.active {
  display: block;
  opacity: 1;
}

section h2 {
  font-size: 36px;
  color: #E985A2;
}

section p {
  font-size: 18px;
  color: #555;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.project img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.resume-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.resume-column {
  width: 300px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.resume-column h3 {
  font-size: 24px;
  color: #E985A2;
  margin-bottom: 15px;
}

details {
  margin-bottom: 15px;
  text-align: left;
}

summary {
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.contact-item i {
  font-size: 24px;
  color: #E985A2;
}

.contact-item a {
  color: #E985A2;
  text-decoration: none;
  font-weight: bold;
}

.contact-item a:hover {
  text-decoration: underline;
}

.contact-item p {
  margin: 0;
  color: #555;
}

footer {
  background-color: #E985A2;
  padding: 10px 0;
  text-align: center;
  color: white;
}

a {
  color: #E985A2;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
